@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
  }

h1 {
    font-size: 3em;
}

h3 {
    font-size: 22px;
    margin-bottom: 05px;
}
 
ul {
     list-style-type: none;
     display: flex;
     gap: 16px;
 } 

a {
    color: #E5E7EB;
    text-decoration: none;
}

.link {
    padding: 10px 12px;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out;
}

.link:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.button {
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    padding: 10px 12px;
    transition: background-color 200ms ease-in-out;
}

.button.selected {
    border: 2px solid #E5E7EB;
}

.button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.35em;
    font-weight: bolder;
}

.logo-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4)
}

.logo img {
    border: 2px solid #3882F6;
}

.nav, .main, .footer {
    background-color: #1F2937;
    color: #E5E7EB;;
}

.nav{
    padding: 12px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
   /* gap: 12px;*/
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3% 15%;
    gap: 100px;
}

.main-lhs{
    flex: auto;
}

.mainrick{
    height: 375px;
    border-radius: 10px;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);

}

.main-rhs {
    border-radius: 10px;

}

.main p{
    font-size: 1.2em;
}

.info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25%;
    margin-bottom: 20px;
}

.photo-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: smaller;
    gap: 8px;
    
}

.photo {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.photo p {
    text-align: center;
}

.photo img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 3px solid #3882F6;
    box-shadow: 0 8px 8px -4px rgba(65, 64, 64, 0.4)
}

.inspo {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 25%;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
}

.attribution {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.action {
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.call-to-action {
    background-color: #3882F6;
    border-radius: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 175px;
}

.action-lhs{
    display: flex;
    flex-direction: column;
 /*   margin-right: 50px;*/
}

.action-lhs p {
    margin-top: 0;
    font-size: 16px;
}

action-rhs{
    align-items: left;
}

.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
}